.__nav-footer-color {
    background-color: #242e37;
}

.__green-color {
    background-color: #1abc9c;
}

.__dark-blue-color {
    background-color: #3a546d;
}

.form-control::placeholder {
    color: #333333;
}

.__title-color {
    color: #333333
}

.__avatar-img img {
    width: 200px;
}

.__col img {
    width: 100%;
}

.__separator-row {
    width: 150px;
    height: 4px;
    border-radius: 50px;
    background-color: white;
}

.__star {
    font-size: 40px;
}

.bgc-black {
    background-color: #333333;
}

.__button {
    background-color: #1abc9c;
}

.__anchors-color {
    text-decoration: none;
    color: #1abc9c;
}

.__socials {
    font-size: 1.5em;
}

.fa-bars {
    font-size: 2em;
}
